:root {
  /*COLORES*/

  /*PASTEL*/
  --rosa-p: #f2848f;
  --naranja-p: #f2b582;
  --amarillo-p: #f2d069;
  --verde-p: #a3d77e;
  --azul-p: #53b2d5;

  /*FUERTE*/
  --rosa-f: #f77885;
  --naranja-f: #f7b178;
  --amarillo-f: #f7d15e;
  --verde-f: #9eea67;
  --azul-f: #3abae9;

  /*APAGADOS*/
  --rosa-a: #d8979d;
  --rosa-a2: #673d42;
  --naranja-a: #d8b497;
  --amarillo-a: #d3bf83;
  --verde-a: #a5c28e;
  --azul-a: #6ca3b8;

  /*CLAROS*/
  --rosa-c: #f8bfc3;
  --naranja-c: #f8d8bf;
  --amarillo-c: #f8e6b4;
  --verde-c: #d0ecbc;
  --azul-c: #a5d7ea;
  --azul-c2: #a9d0e0;

  /*GRADIENTE ROSA*/
  --rosa-0: #ff96bb;
  --rosa-1: #ffadea;
  --rosa-2: #ffc8ff;

  /*GRADIENTE ROSA OSCURA*/
  --rosa-3: #ca606d;
  --rosa-3-1: #8b434b;
  --rosa-4: #a23d4c;
  --rosa-5: #7c182e;
  --rosa-6: #560012;

  /*OTROS*/
  --rojo: #f46464;

  /*MARRON*/
  --marron-c: #bfa5a6;
  --marron-c2: #cab0b1;
  --marron-mc: #efe2e6;
  --marron-o: #574142;
  --marron-o2: #755d5f;

  /*ESCALA DE GRIS*/
  --gris: #ababab;
  --gris-c: #b8b8b8;
  --gris-mc: #e9e9e9;
  --gris-o: #919191;
  --gris-mo: #424242;
  --negro: #242424;
  --blanco: #fafafa;
}

#stDecoration {
  display: none;
}
.stAppToolbar {
  display: none;
}
.st-emotion-cache-1li7dat {
  display: none;
}
* {
  color: var(--gris-mo);
}

h1 {
  display: flex;
  align-items: center;
  color: var(--gris-mo);
}
h2 {
  display: flex;
  align-items: center;
  color: var(--gris-o);
}
.st-emotion-cache-6awftf  {
display: none;
}
/*FONDO*/
.stMain {
  background-color: #ca606d;

  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #ca606d 15px
    ),
    repeating-linear-gradient(#ffffff55, #cbcbcb);
}
.st-emotion-cache-12fmjuu {
  background-color: var(--rosa-5); /*HEADER*/
  background-image: radial-gradient(circle at center center, #ffffff, #7c182e),
    repeating-radial-gradient(
      circle at center center,
      #ffffff,
      #ffffff,
      15px,
      transparent 30px,
      transparent 15px
    );
  background-blend-mode: multiply;
}
/*FONDO DEL FORMULARIO*/

.st-emotion-cache-0 {
  background-color: var(--blanco);
  border-radius: 16px;
  padding: 0.5vw;
}

/*BARRA LATERAL*/
.stSidebar {
  background-color: var(--rosa-5);

  background-image: radial-gradient(circle at center center, #ffffff, #7c182e),
    repeating-radial-gradient(
      circle at center center,
      #ffffff,
      #ffffff,
      15px,
      transparent 30px,
      transparent 15px
    );
  background-blend-mode: multiply;
}
/*EXPANDER*/
.stExpander .st-emotion-cache-1h9usn1 {
  margin-right: 1vw;
  background-color: var(--marron-c);
  color: var(--blanco);
}
.stExpander .st-emotion-cache-0 p {
  color: var(--negro);
}
.stExpander p {
  color: var(--blanco);
}
.stExpander .stButton button p{

color: var(--blanco);
}
/* /* REMOCION DEL <span> / */
div.st-emotion-cache-1lvxfs7.e121c1cl2 span {
  display: none;
}

/* / TITULO INFORMACION PERSONAL / */
div.st-emotion-cache-1lvxfs7.e121c1cl2 [id="2d7fff05"] {
  display: flex;
  justify-content: center;
  font-size: 25px;
  /* / border: 2px solid blue; / */
}

/* / TITULO INFORMACION DE CONTACTO / */
div.st-emotion-cache-1lvxfs7.e121c1cl2 [id="733f9966"] {
  display: flex;
  font-size: 25px;
  justify-content: center;
  /* / border: 2px solid blue; / */
}

/* / TITULO ESTADISTICA DE SESIONES / */
div.st-emotion-cache-1lvxfs7.e121c1cl2 h3[id="9af8d0f9"] {
  display: flex;
  justify-content: center;
  /* / border: 2px solid blue; / */
}

/*COLUMNA FECHA DE NAC Y EDAD*/
.stColumn {
  background-color: var(--blanco);
}
.stColumn .stMarkdown {
  display: flex;
  justify-content: center;
}

/* ELEMENT TOOL */
.st-emotion-cache-1clt8w9 {
display: none;
}

/*TEXT INPUT*/
.stTextInput div {
  background-color: var(--rosa-c);
}
.stTextInput p {
  background-color: var(--blanco);
}
/*DATE INPUT*/
.stDateInput div div {
  background-color: var(--rosa-c);
}
.stDateInput p {
  background-color: var(--blanco);
}
/*TEXT AREA*/
.stTextArea div {
  background-color: var(--rosa-c);
}
.stTextArea p {
  background-color: var(--blanco);
}
/*BOTON*/
.stButton {
  display: flex;
  justify-content: center;
}
.stButton button {
  background-color: var(--rosa-6);
  color: var(--blanco);
}
button P{
  color: var(--blanco);
}
.stButton button:hover {
  background-color: var(--rojo);
  color: var(--blanco);
}



.stFormSubmitButton{
  display: flex;
  justify-content: center;
}
.stFormSubmitButton button{
  background-color: var(--rosa-6);
  color: var(--blanco);
}
.stFormSubmitButton p{
  color: var(--blanco)
}

.stFormSubmitButton button:hover {
  background-color: var(--rojo);
  color: var(--blanco);
}
/*NUMBER INPUT*/
.stNumberInput div{
  background-color: var(--rosa-c);
}
.stNumberInput p{
  background-color: var(--blanco);
}
.stNumberInput button{
  background-color: var(--rosa-c);

}
.stAppViewContainer  button svg path{
color: var(--blanco);
}

/*SELECTBOX DE LA SIDEBAR*/
.stSidebar .st-emotion-cache-0 {
  background-color: var(--marron-mc);
}
.stSidebar .stSelectbox .st-av {
  border: #242424;
  background-color: var(--marron-c); /*SELECT BOX BASE*/
}
ul li {
  background-color: var(--negro); /*LISTA DE OPCIONES*/
}
.stSidebar .st-emotion-cache-s16by7 {
  background-color: var(--marron-o2); /*ULTIMA OP SELECIONADA*/
  color: var(--blanco);
}
.stSidebar .st-emotion-cache-s16by7:hover {
  background-color: var(--marron-o); /*OP HOVER*/
  color: var(--blanco);
}

/*SELECT BOX NORMAL*/
.stSelectbox .st-av {
  border: #242424;
  background-color: var(--rosa-c); /*SELECT BOX BASE*/
}
/*LISTA DE OPCIONES*/
/* .st-hz ul {
  background-color: var(--rosa-a); 
} */
/*ULTIMA OP SELECIONADA*/
.st-emotion-cache-s16by7 {
  background-color: var(--rosa-4);   
} 
/*OP EN HOVER*/
.st-emotion-cache-s16by7 div{
color: var(--blanco);
}
.st-emotion-cache-s16by7:hover {
  background-color: var(--rosa-3); 
  color: var(--blanco);
}

/*TABS*/
.stTabs p{
color: var(--negro);
}
.stTabs .stElementContainer button p{
color: var(--blanco);
}
/*CALENDARIO*/

.calendario tr td{
border: 2px solid var(--gris-o);
}

.calendario tbody tr th {
  background-color: var(--amarillo-a);
  color: var(--blanco);
  border: 2px solid var(--gris-mo);
}

.calendario td {
  background-color: var(--gris-mc);
}
.calendario tbody td .turno {
  background-color: var(--naranja-p);
  color: var(--blanco);
  background-attachment: fixed;
}
.calendario{
  border: 3px solid var(--gris-mo);
}

/* FILTRO POR ACTIVIDAD */
.st-key-act label{
  display: flex;
  margin-left: 0.5vw;
  width: 4vw;
  min-width: fit-content;
  justify-content: center;

}
.st-key-act label p{
 font-size: 123%;

}
.st-key-act div{
  display: flex;
  margin-left: 0.5vw;
  margin-right: 0.5vw;

}

/* DIV CONTENEDOR DE TOTAL PACIENTES */
.totalContainer {

  margin-right: 100vw;
}
/* DIV TOTAL PACIENTES */
.totalPacientes {
  /* border: 2px solid red; */
  display: flex;
  color:var(--blanco);
  justify-content: center;
  background: var(--rosa-a2);
  border-radius: 10px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  padding: 1.5vh 0 1.5vh 0;

}

ul li {
  background-color: var(--rosa-f);
  border-radius: 10px;
  width: 25%;
}

* {
  color: var(--negro);
}



/*
 DIV CONTENEDOR DEL SUCCESS
.successContainer {
 
  display: flex;
  justify-content: center;
  align-items: center;
}
 DIV SUCCESS
.divSuccess {
  display: flex;
  background: var(--verde-c);
  padding: 2.5vh 0 2.5vh 0vw;
  border-radius: 10px;
  width: 200px;
  justify-content: center;
  align-items: center;
} 
*/
